.App {
  text-align: center;
}

/* .btn-add::after { content: 'Add'; }
.array-item-move-up::after { content: 'Move Up'; }
.array-item-move-down::after { content: 'Move Down'; }
.array-item-remove::after { content: 'Remove'; } */

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-it ems: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

textarea {
  min-width: 130vh;
  min-height: 30vh;
}
/* .App-link {
  color: #61dafb;
} */


