.App {
  /* text-align: center; */
  margin: 10px
}

/* .body{
  overflow-x: hidden;
} */
/* .modal{
  margin-left: -10px;
}

body.modal-open {
  margin-right: 0;
} */

.btn-add::after { content: '+'; }
.array-item-move-up::after { content: '↑'; }
.array-item-move-down::after { content: '↓'; }
.array-item-remove::after { content: '-'; }

.App-header {
  margin: 10px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

textarea {
  min-width: 50vh;
  /* min-height: 30vh;  */
}
.App-link {
  color: #262727;
}

.Form {
    /* align-content: flex-start; */
  max-width: 400px;  
}

.editor {
  border-style: solid;
 border-width: 10px;
 border-color: black;
}
