.App {
  /* text-align: center; */
  margin: 10px
}

/* .body{
  overflow-x: hidden;
} */
/* .modal{
  margin-left: -10px;
}

body.modal-open {
  margin-right: 0;
} */

.btn-add::after { content: 'Add'; }
.array-item-move-up::after { content: 'Move Up'; }
.array-item-move-down::after { content: 'Move Down'; }
.array-item-remove::after { content: 'Remove'; }

.App-header {
  margin: 10px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

textarea {
  min-width: 130vh;
  min-height: 30vh;
}
.App-link {
  color: #262727;
}


